$primary: #000000;
$primary-pink: #B354B7;
$highlights: #96E2F4;
$white: #FFFFFF;
$secondary-bg: #F5F6FA;
$gray-light: #EBECF2;
$gray-dark: #b1b1b1;
$gray-dark-primary: #4d4d4d;
$button-hover: #872f8b;